hr
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #A37B53;
    margin: 1em 0;
    padding: 0;
}

.img-circle
{
	border: 3px solid #A37B53;
}

.header-post
{
	color: #AC5601;
}

.header-text
{
	color: #5E2E00;
}

.marketing
{
	padding: 50px;
}

footer
{
	margin: 0px;
}